
.ckanext-datapreview > iframe {
    min-height: 600px;
}

[role="main"] .primary {
  float: right;
  width: 665px;
}

[role="main"] .secondary {
  float: left;
  margin-left: 0;
  width: 269px;
}

.sidebar h4 {
    color: #656565;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.module .pagination {
  height: 34px;
  margin-bottom: 0;
  border-top: 30px solid #ffffff;
}