{% extends "base.html" %}

{% block subtitle %}{{ h.dataset_display_name(c.package) }} - {{h.resource_display_name(c.resource) }}{% endblock %}

{# remove any scripts #}
{% block scripts %}
  <script>
    var preload_resource = {{ h.literal(c.resource_json) }};

    var package_wms_list;
    if(typeof {{ h.literal(h.get_wms_list(c.package)) }} !== 'undefined'  ){
    	package_wms_list = {{ h.literal(h.get_wms_list(c.package)) }};
    }
  </script>
{% endblock %}

{# remove any ckan styles #}
{% block styles %}{% endblock %}

{% block custom_styles %}{% endblock %}
