{% extends "dataviewer/base.html" %}

{% block page %}

    <div data-module="mapstorepreview" id="mapstore-preview">
		<h4 class="loading-dialog">
		  <div class="loading-spinner"></div>
		  <div class="left">{{ _('Loading...') }}</div>
		</h4>
    </div>
	
	{% resource 'ckanext-mapstore/main' %}

	<div id="basketContainer">
	</div>
	
	<div id="basketButton" style='display: none;' class='show-btn'>
		<br/>
		<a id="showBasket" class='show show-primary' href="#" target='_blank'>Show Layers</a>
	</div>
	
{% endblock %}

